.crumbs__flex {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;

  gap: 20px;
  list-style-type: none;
}

.crumb {
  padding-right: 10px;
}

.crumb__inactive {
  text-decoration: underline;
  /** icon setup */
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
