.crumbs__flex {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;

  gap: 20px;
  list-style-type: none;
}

.crumb {
  padding-right: 10px;
}

.crumb__inactive {
  text-decoration: underline;
  color: rgb(71, 25, 107);
}

.crumb_text {
  padding-left: 10px;
}