.cart-item__grid {
  display: grid;
  grid-template-columns: 150px 1fr 150px;
  grid-template-areas:
    'image title quantity price'
    'image . . controls';

  column-gap: 20px;
}

.cart-item__image {
  grid-area: image;
}

.cart-item__title {
  grid-area: title;
  font-size: 14pt;
}

.cart-item__price {
  grid-area: price;
  justify-self: end;

  font-size: 14pt;
}

.cartt-item__quantity {
  grid-area: quantity;
}

.cart-item__controls {
  grid-area: controls;
  justify-self: end;
}
