.featured-item__grid {
  padding: 10px;

  display: grid;
  grid-template-columns: 450px 600px;
  grid-template-areas:
    'description name'
    'description image'
    'description image'
    'description image'
    'description image';

  column-gap: 40px;
}

.featured-item_image {
  grid-area: image;
  justify-self: center;
}

.featured-item_image > img {
  width: 100%;
}

.featured-item_name {
  font-size: 36pt;
  grid-area: name;
  justify-self: center;
}

.featured-item_description {
  font-size: 16pt;
  grid-area: description;
  align-self: center;
}
