.header__flex {
  --shadow-gray: rgb(210, 210, 210);

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  gap: 10px;

  background-color: white; 
  padding: 15px 10px;

  box-shadow: 0px 1px 4px 1px var(--shadow-gray); 
  backdrop-filter: blur(10px);
}

.header__sticky {
  position: sticky;
  top: 0px;
}

.header-button {
  appearance: none;

  color: var(--purple);
  background-color: white;

  padding: 5px 10px;
  border-radius: 3px;
  border: 1px solid var(--purple);
}

.header-button:hover {
  color: white;
  background-color: var(--purple);
  border-color: white;
  cursor: pointer;
}

.header_navigation {
  display: flex;
  flex-flow: row nowrap; 
  gap: 10px;
}