.item-expanded_name {
  grid-area: name;
  font-size: 16pt;
}


.item-expanded_price {
  font-size: 16pt;
  grid-area: price;
}

.item-expanded_description {
  grid-area: description;
  text-align: justify;
  margin: 0;
}

.item-expanded_image {
  grid-area: image;
}

.item-expanded_image > img {
  width: 100%;
}

.item-expanded__controls {
  grid-area: controls;
}

.item-expanded_supply {
  grid-area: supply;
  align-self: flex-end;
}
