.item-expanded__grid {
  display: grid;
  grid-template-columns: 300px 1fr 200px;
  grid-template-areas:
    'image name controls'
    'image description controls'
    'image description supply '
    'image description .';

  column-gap: 15px;
}

.item-expanded {
  padding: 20px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0px 1px 4px 1px rgb(210, 210, 210); 
}

.item-expanded_name {
  grid-area: name;
  font-size: 16pt;
}

.item-expanded_description {
  grid-area: description;
  text-align: justify;
  text-justify: distribute;
}

.item-expanded_image {
  grid-area: image;
}

.item-expanded_image > img {
  width: 100%;
}

.item-expanded__controls {
  grid-area: controls;
}

.item-expanded_supply {
  grid-area: supply;
}