.controls__flex {
  display: flex;
  flex-flow: column nowrap;
  gap: 5px;
}

.controls-button {
  width: 100%;
  appearance: none;

  padding: 5px;
  border-radius: 6px;
  border: 1px solid var(--purple);
  background-color: white;

  cursor: pointer;
}

.controls-button__added_to_cart {
  background-color: var(--purple);
  color: white;
}

.controls-button:hover {
  filter: contrast(1.2);
}
