.main__flex {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;

  row-gap: 10px;
}

.main__dimensions {
  width: clamp(300px, 60%, 1100px);
  margin: 0 auto;
  padding: 0px;
}