.store-item__grid {
  display: grid;
  grid-template-columns: 200px 1fr 150px;
  grid-template-areas:
    'item_picture item_title item_price'
    'item_picture description controls'
    'item_picture description controls'
    'item_picture description .';

  gap: 10px;
}

.store_item {
  padding: 10px;
}

.store-item__title {
  grid-area: item_title;
}

.item-title {
  font-size: 14pt;
  font-weight: bold;
}

.store-item__price {
  grid-area: item_price;
  justify-self: flex-end;
}

.store-item__image {
  grid-area: item_picture;
}

.store-item__description {
  grid-area: description;
}

.store-item__controls {
  grid-area: controls;
}