@import url('https://fonts.googleapis.com/css2?family=Inter');

:root {
  box-sizing: border-box;

  font-family: 'Inter';
  font-size: 14px;
  
  --purple: rgb(71, 25, 107);
  --gray: rgb(240, 240, 240);
}

*,
*::after,
*::before {
  box-sizing: inherit;
  font-family: inherit;
}

a {
  text-decoration: none;
  color: unset;
}

body {
  margin: 0;
  background-color: var(--gray);
}